body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* HEADER */
header {
  background: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #D4AF37;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.logo span {
  color: #D4AF37;
}

/* NAV */
nav a {
  color: #D4AF37;
  margin-left: 20px;
  font-weight: 600;
  text-decoration: none;
}

/* SEARCH */
#search {
  padding: 10px;
  background: #222;
  border: 1px solid #D4AF37;
  color: #fff;
  border-radius: 5px;
}

/* CARDS */
.card {
  width: 330px;
  background: #1b1b1b;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 15px;
  margin: 15px;
  box-shadow: 0 0 12px rgba(212,175,55,0.25);
  transition: 0.25s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(212,175,55,0.4);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit:cover;
  border-radius: 10px;
}

/* GOLD HIGHLIGHT */
.highlight {
  background: #D4AF37;
  padding: 6px 10px;
  border-radius: 6px;
  display: inline-block;
  font-weight: bold;
  color: #000;
}

/* ASK BOX */
#askBox {
  position: fixed;
  top:0; left:0; right:0; bottom:0;
  display: flex;
  justify-content:center;
  align-items:center;
  background: rgba(0,0,0,0.7);
}

.hidden { display:none; }

.askContent {
  width: 300px;
  background: #222;
  padding: 25px;
  border-radius: 10px;
}